<div>
  <acme-navbar></acme-navbar>
</div>
<div class="container">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


<h1>Expenses</h1>
<table>
  <tr>
    <th>Amount</th>
    <th>Description</th>
  </tr>
  <tr ng-repeat="expense in expenses.data">
    <td>${{expense.attributes.amount}}</td>
    <td>{{expense.attributes.description}}</td>
  </tr>
</table>
